<?xml version="1.0"?>
<!DOCTYPE config>
<!--
/**
 * app/code/local/MasteringMagento/Example/etc/config.xml
 *
 * This example code is provided for use with the Mastering Magento video
 * series, by Packt Publishing.
 *
 * @author    Franklin P. Strube <franklin.strube@gmail.com>
 * @category  MasteringMagento
 * @package   Example
 * @copyright Copyright (c) 2012 Packt Publishing (http://packtpub.com)
 */
-->
<config>
    <modules>
        <MasteringMagento_Example>
            <version>0.0.1</version>
        </MasteringMagento_Example>
    </modules>
    <global>
        <models>
            <example>
                <class>MasteringMagento_Example_Model</class>
                <!-- Tell Mage to use resources below -->
                <resourceModel>example_resource</resourceModel>
            </example>
            <!-- Need to tell Mage how to map models to db tables -->
            <example_resource>
                <class>MasteringMagento_Example_Model_Resource</class>
                <entities>
                    <event>
                        <table>example_event</table>
                    </event>
                    <event_registrant>
                        <table>example_event_registrant</table>
                    </event_registrant>
                </entities>
            </example_resource>
        </models>
        <!-- Sect 3: Writing module installation script -->
        <resources>
            <example_setup>
                <!-- folder must be under {module}/sql/example_setup -->
                <!-- upgrade file must be named in accordance with module version no above -->
                <setup>
                    <module>MasteringMagento_Example</module>
                    <!-- Point to core class so all we need to do is create SQL script -->
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </example_setup>
        </resources>
        <blocks>
            <example>
                <class>MasteringMagento_Example_Block</class>
            </example>
        </blocks>
        <helpers>
            <example>
                <class>MasteringMagento_Example_Helper</class>
            </example>
        </helpers>
        <!-- Sect 3: Event-handling and Observers -->
        <events>
            <controller_action_predispatch> <!-- fires every time controller about to render an action! -->
                <observers>
                    <example_observer>
                        <class>example/observer</class>
                        <method>controllerActionPredispatch</method>
                    </example_observer>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <!-- Sect 3: Extending admin - also see adminhtml.xml -->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <example before="Mage_Adminhtml">MasteringMagento_Example_Adminhtml</example>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <!-- Sect 2: Controllers -->
        <routers>
            <example>
                <use>standard</use>
                <args>
                    <frontName>example</frontName>
                    <module>MasteringMagento_Example</module>
                </args>
            </example>
        </routers>
        <!-- Sect 2: Frontend Layouts -->
        <layout>
            <updates>
                <example>
                    <!-- See app/design/frontend/base/default/layout/ -->
                    <file>example.xml</file>
                </example>
            </updates>
        </layout>
    </frontend>
</config>
